
@font-face {
  font-family: 'Sofia Pro';
  src: url('./../../static/fonts/Sofia\ Pro\ Regular.woff') format('woff'); /* Modern Browsers */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Sofia Pro Bold';
  src: url('./../../static/fonts/Sofia\ Pro\ Bold.woff') format('woff');
  font-style:   normal;
  font-weight:  800;
}

/* #############################################################################
   #############################################################################

    Reset/Normalize Styles
*/

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 18px;
  color: #000000;
  /* font-family: 'Merriweather', sans-serif; */
  font-family: 'Sofia Pro';
  background-color: #ffffff;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

main {
  padding-left: 100px;
  padding-top: 200px;
  max-width: 640px;
}