
<!DOCTYPE html>
<html>
  <head>
      {{ partial "styles.html" . }}
      <!--
          Hello stranger, nice to meet you!
          Drop an email to misel.tekinder at gmail to say hi! ;)
      -->
      <title>
        {{ block "title" . }}
          {{ .Site.Title }}
        {{ end }}
      </title>
      {{ partial "head.html" . }}
    </head>
  <body>
    {{ template "_internal/google_analytics.html" . }}
    <!-- {{ block "header" . }}{{ end }} -->
    {{ block "main" . }}{{ end }}
    {{ block "footer" . }}{{ end }}
  </body>
</html>