.headline {
    max-width: 640px;
}

.headline__subtitle {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 1rem 0;
}

.headline__title {
    font-family: 'Sofia Pro Bold';
    font-size: 40px;
    line-height: 1.2;
    margin: 0 0 1rem 0;
}

.headline__description {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    font-weight: 300;
}

.headline__description + .headline__description { margin-top: .5rem; }