<head>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900i" rel="stylesheet">

    <!--
        Hello stranger, nice to meet you!
        Drop an email to misel.tekinder@gmail.com to say hi! ;)
    -->

    <title>Mišel Tekinder | Front-end/UX Developer</title>

    <meta charset="utf-8" />
    <meta name="description" content="Front-end/UX developer with passion for fast, interactive and responsive user interfaces." />
    <meta name="author" content="Mišel Tekinder" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-zoom=1, max-zoom=1" />

    <!-- favicon -->
    <link rel="shortcut icon" href="">
</head>